.add-survey-container{
    height: 100px;
    border: 1px solid black;
    width: 90%;
    background-color: aliceblue;
    border-radius: 20px;
    margin: auto;
}

.admin-add-container{
    background-color: #F4F4F4;
    margin: 10px;
    padding: 20px;
}