.add-survey-container{
    height: 100px;
    width: 90%;
    background-color: aliceblue;
    border-radius: 20px;
    margin: auto;
    filter: drop-shadow(2px 4px 6px black);
}

.admin-add-container{
    background-color: #F4F4F4;
    margin: 10px;
    padding: 20px;
}