.takenSurvey-container{
    /* height: 100px; */
    height: auto;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 20px;
    width: 90%;
    padding: 20px;
}

.takenSurvey-main{
    display: block;
    justify-content: center;
    display: flex;
}

.survey-results{
    margin: 10px auto;
    padding: 20px;
}