.takenSurvey-container{
    height: 100px;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 20px;
    width: 90%;
    margin: 15px auto;
}

.takenSurvey-main{
    display: block !important;
    /* justify-content: center; */
}

.survey-results{
    margin: 10px auto;
    padding: 20px;
}

.btn1{
    margin: 5px;
}