/* ### - Overlay: aFor Sidebar */

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}
z .overlay2 {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
}

.layout-container {
}

.layout-content {
  min-height: 100vh;
  position: relative;
}

@media (max-width: 620px) {
  .layout-content {
    min-height: 136vh;
  }
}
